:root {
    /* --background: #005;
    --primary: #88D5BF;
    --secondary: #5D6BF8;
    --third: #e27fcb; */
    --background: #667C89;
    --primary: #667C89;
    --secondary: #667C89;
    --third: #667C89;
}

* {
    box-sizing: border-box;
}

/* body {
    background: #005;
} */

.container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.shape {
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    animation: morph 12s ease-in-out infinite;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    height: 400px;
    transition: all 1s ease-in-out;
    width: 400px;
    z-index: 2;
    /* padding-top: 50%; */
}

/* .container>img{
    width: 250%;
} */

@keyframes morph {
    0% {
        border-radius: 5% 5% 5% 5% / 5% 5% 5% 5%;
        background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    }

    50% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
        background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
    }

    100% {
        border-radius: 5% 5% 5% 5% / 5% 5% 5% 5%;
        background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    }
}