html {
       scroll-behavior: smooth;
       -ms-overflow-style: none;
       /* IE and Edge */
       scrollbar-width: none;
       /* Firefox */
}

body {
       margin: 0;
       padding: 0;
       font-family: 'Source Sans Pro', sans-serif;
}

* {
       box-sizing: border-box;
}

a {
       text-decoration: none;
       color: #000000;
}

/* SCROLL BAR */
::-webkit-scrollbar {
       /* width: 3px; */
       display: none;
}

/* 
::-webkit-scrollbar:hover {
       width: 7px;
}

::-webkit-scrollbar-track {
       background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
       background: #667C89;
       border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
       background: #555;
} */

/* PROGRESS BAR */
.progress {
       display: none;
       position: fixed;
       top: 80px;
       left: 0;
       width: 100%;
       height: 2px;
       background: white;
       z-index: 1;
       opacity: 0;
}

.progress .bar {
       height: 100%;
       width: 10%;
       background: #00FF00;
       transition: background 0.15s ease;
}

/* WINDOW LOADER */
.window-loader {
       border: 1px solid;
       display: flex;
       justify-content: center;
       align-items: center;
       justify-items: center;
       background: transparent;
       /* background: #000 url(/assets/Infinity-loader.gif) no-repeat center center; */
       background-size: 100%;
       height: 100vh;
       width: 100%;
       position: fixed;
       z-index: 100;
}

.window-loader>img {
       width: 10%;
}

/* Navigation */
nav {
       display: none;
       opacity: 0;
       justify-content: space-between;
       align-items: center;
       /* border: 1px solid black; */
       /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
       /* background-color: #ffffff; */
       position: fixed;
       z-index: 5;
       top: 0;
       /* margin-bottom: 50px; */
       padding: 0 100px;
       height: 80px;
       width: 100%;
       background-color: #ebf1f5;
       background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23CDD3D6' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23CACFD2'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

nav>:nth-child(1)>a {
       display: flex;
       align-items: center;
       text-align: center;
       gap: 20px;
       height: 80px;
       color: #667C89;
       /* justify-content: space-between; */
       /* border: 1px solid red; */
}

nav>:nth-child(1)>a>span {
       font-size: 30px;
       font-weight: 600;
       text-align: center;
}

nav img {
       border-radius: 50px;
       width: 60px
}

nav>:nth-child(2) {
       width: 50%;
       display: flex;
       justify-content: space-between;
       text-align: center;
       font-size: 20px;
       /* border: 1px solid blue; */
}

nav>:nth-child(2)>a,
nav>:nth-child(2) button {
       font-weight: 600;
       border: none;
       background: transparent;
       font-size: 20px;
       font-family: 'Source Sans Pro', sans-serif;
       color: #667C89;
}

nav>:nth-child(3) {
       display: none;
}

nav a:active,
nav>:nth-child(2) button:active {
       color: #667C89;
       text-decoration: line-through;
}

#ham-menu {
       display: none;
}

.sidenav {
       display: none;
}

/* ---------------------------------MAIN----------------------------------- */

main {
       /* margin-top: 50px; */
       display: none;
       opacity: 0;
       width: 100%;
       margin: auto;
}

.section-title {
       text-align: center;
       font-size: 30px;
       font-weight: 600;
       text-transform: uppercase;
}

.section-title+hr {
       height: 5px;
       fill: #667C89;
       border: none;
       border-radius: 10px;
       width: 30px;
       margin: 0px auto;
       margin-bottom: 50px;
       color: #667C89;
       background-color: #667C89;
}

.tag {
       opacity: 0;
       transform: translate(0, -5vh);
       transition: ease-in-out 2s;
}

.tag.visible {
       opacity: 1;
       transition: ease-in-out 2s;
       transform: translate(0, 0);
}

/* home */
#home {
       /* border: 1px solid green; */
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 80px 0 0 0;
       min-height: 100vh;
       background-color: #ebf1f5;
       background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23CDD3D6' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23CACFD2'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

#home>div {
       /* border: 1px solid red; */
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       margin: auto;
       gap: 20px;
       width: 90%;
       /* height: 100vh; */
}

#home>div>:nth-child(1) {
       /* border: 1px solid green; */
       /* white-space: 100px; */
       width: 60%;
       margin: auto;
       /* text-align: right; */
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-between;
       gap: 10px;
}

#user-detail-name {
       color: gray;
       font-size: 20px;
       margin: 0px;
       /* border: 1px solid green; */
}

#user-detail-name>span {
       font-size: 50px;
       color: #667C89;
       font-weight: 600;
}

#user-detail-name+p {
       color: #667C89;
       font-size: 30px;
       margin: 0;
}

#user-detail-name+p+p {
       color: gray;
       font-size: 20px;
       /* border: 1px solid red; */
}

.achievement {
       /* border: 1px solid red; */
       display: flex;
       justify-content: space-around;
       align-items: center;
       gap: 20px;
}

.achievement span {
       font-size: 20px;
       color: gray;
}

.achievement strong {
       font-size: 20px;
       color: #667C89;
}

.achievement>div {
       display: flex;
       align-items: center;
}

.contact-button>button,
#resume-button-2 {
       margin: 30px 0px;
       border: 1px solid #667C89;
       color: #ffffff;
       background-color: #667C89;
       border-radius: 5px;
       height: 40px;
       width: 150px;
       font-size: 15px;
}

.contact-button>button:hover,
#resume-button-2:hover {
       background-color: transparent;
       color: #667C89;
       border: 2px solid #667C89;
       cursor: pointer;
}

button,
a {
       cursor: pointer;
}



#home>div>:nth-child(2) {
       /* border: 1px solid blue; */
       width: 50%;
}

.container {
       /* border: 1px solid red; */
       align-items: center;
       display: flex;
       /* height: 100vh; */
       justify-content: center;
       width: 60%;
}

.shape {
       background: #667C89;
       border-radius: 7%;
       height: 400px;
       transition: all 1s ease-in-out;
       width: 400px;
       z-index: 2;
}

/* ABOUT */
.about-section {
        /* border: 1px solid red; */
       min-height: 100vh;
       width: 90%;
       margin: auto;
       padding: 80px 0px 0 0;
       /* height: 100vh; */
}

.about-section-intro {
       width: 90%;
       margin: auto;
}

.about-section-intro>:nth-child(1) {
       width: 50%;
       margin: 0 auto 100px;
       /* margin: auto; */
       text-align: center;
       /* height: ; */
}

.about-section-intro-para {
       text-align: center;
       font-size: 20px;
       font-weight: 000;
       color: grey;
}

.about-section-intro-para>strong {
       color: #667C89;
       font-size: 22px;
}

/* .contact-button{
       margin: auto;
       text-align: center;
} */

.about-section-intro-img {
       display: flex;
       justify-content: space-around;
       align-items: center;
}

.about-section-intro-img>p {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       /* border: 1px solid black; */
       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
       border-radius: 10px;
       z-index: 2;
       background-color: #667C89;
       color: #ffffff;
}

.about-section-intro-img>p>img {
       width: 300px;
       /* background-color: #667C89; */
       /* border-radius-t: 10px; */
       border-top-right-radius: 10px;
       border-top-left-radius: 10px;
}

.about-section-intro-img>p>span {
       font-size: 20px;
       /* color: #ffffff; */
}

.about-section-intro-img>p:hover {
       color: #667C89;
       background-color: #ebf1f5;
       transition: 0.5s ease-in-out;
}


/* GITHUB STATS */
.github-section {
       min-height: 100vh;
       width: 90%;
       margin: auto;
       padding: 80px 0px;
}

.github-stats {
       margin: 50px auto;
       display: flex;
       justify-content: space-around;
       align-items: center;
}

.github-stats>img {
       width: 40%;
       height: 250px;
}

.calendar{
       /* width: 50%; */
       padding: 10px;
       border-radius: 8px;
       color: #667C89;
}

.contrib-number{
       color: #667C89;
}

text.ContributionCalendar-label{
       fill: #667C89;
}

/* SKILLS */
.skills-section {
       min-height: 100vh;
       padding: 80px 0px;
       /* border: 1px solid rgb(255, 0, 0); */
       width: 90%;
       margin: auto;
}

.skills-section>div {
       width: 100%;
       display: grid;
       grid-template-columns: repeat(5, 1fr);
       gap: 50px;
       margin: auto;
       /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}

.skills-card {
       margin: auto;
       text-align: center;
       padding: 2% 9% 0;
       background-color: #ffffff;
       border-radius: 10%;
}

.skills-card:hover {
       box-shadow: rgba(0, 0, 0, 0.56) 0px 3px 8px;
}

.skills-card>img {
       width: 100px;
       height: 100px;
}

.skills-card>p {
       text-align: center;
       font-weight: 000;
       color: grey;
       font-size: 22px;
}

/* TOOLS */
.tools-section {
       /* min-height: 100vh; */
       padding: 80px 0px;
}

.tools-section>div {
       width: 100%;
       display: grid;
       grid-template-columns: repeat(5, 1fr);
       gap: 50px;
       margin: auto;
}

.tools-card {
       margin: auto;
       text-align: center;
       padding: 2% 9% 0;
       background-color: #ffffff;
       border-radius: 10%;
}

.tools-card:hover {
       box-shadow: rgba(0, 0, 0, 0.56) 0px 3px 8px;
}


.tools-card>img {
       width: 100px;
       height: 100px;
}

.tools-card>p {
       text-align: center;
       font-weight: 000;
       color: grey;
       font-size: 22px;
}


/* PROJECTS */
.projects-section {
       background-color: #ebf1f5;
       min-height: 100vh;
       /* border: 1px solid rgb(255, 0, 0); */
}

.projects-section>div {
       padding: 80px 0px;
       width: 90%;
       margin: auto;
       /* background-color: #ebf1f5; */
}

.box-container {
       margin: auto;
}

.project-card {
       background-color: #ffffff;
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       /* border: 1px solid black; */
       box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
       border-radius: 5px;
       margin: 20px auto;
}

.project-card:hover {
       box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
       transition: 1s ease-in-out;
}

.project-img {
       width: 30%;
       /* border: 1px solid black; */
       /* margin: auto; */
       text-align: center;
       /* padding: 20px 0%; */
}

.project-image {
       border-radius: 5px;
}

.static {
       display: block;
}

.active {
       display: none;
}

.project-image {
       /* width: 500px; */
       width: 100%;
       /* height: 200px; */
       /* border: 1px solid red; */
       margin: auto;
}

.project-desc {
       /* border: 1px solid green; */
       width: 60%;
       padding: 20px 0%;
}

.project-title {
       color: #667C89;
       text-transform: uppercase;
       margin: 0%;
}

.project-desc p {
       color: gray;
}

.project-desc strong {
       color: #667C89;
}

.project-features {
       display: flex;
       gap: 5px;
       margin: 0%;
       padding: 0%;
}

.project-features>div>p,
.project-features>p {
       margin: 0%;
}

.project-button button {
       margin: 10px 0px;
       border: 1px solid #667C89;
       color: #667C89;
       background-color: transparent;
       border-radius: 5px;
       height: 40px;
       width: 150px;
       font-size: 15px;
}

/* .project-button button>i{
       width: 200px;
       height: 20px;
       color: #667C89;
} */

.project-button>:nth-child(1)>button:hover {
       background-color: #668972;
       color: #ffffff;
       border: none;
}

.project-button>:nth-child(2)>button:hover {
       background-color: #897a66;
       color: #ffffff;
       border: none;
}

/* CONTACT */
.contact-section {
       /* min-height: 100vh; */
       /* border: 1px solid rgb(255, 0, 0); */
       padding: 80px 0px;
       background-color: #ebf1f5;
       background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23CDD3D6' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23CACFD2'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.contact-section>div {
       height: 50%;
       width: 70%;
       display: flex;
       /* margin: 180px auto 0px; */
       margin: auto;
       align-items: center;
       justify-items: center;
       /* justify-content: center; */
       /* gap: 50px; */
       border: 1px solid #667C89;
       border-radius: 5px;
       background-color: #667C89;

}

.contact-section>div>hr {
       height: 200px;
}

.contact-link {
       height: 100%;
       width: 50%;
       /* border: 1px solid #000000; */
}

.contact-link>div {
       width: 50%;
       /* border: 2px solid #000000; */
       display: flex;
       flex-direction: column;
       /* align-items: center; */
       /* border-right: 5px solid #667C89; */
       /* padding-top: 30px;
       padding-bottom: 20px; */
       justify-content: space-around;
       gap: 30px;
       /* height: 50px; */
       /* border-radius: 10px; */
       /* border: 1px solid #000000; */
       margin: auto;
}

.contact-link>p {
       width: 50%;
       font-size: 22px;
       color: #ffffff;
       /* padding: 0px 100px; */
       /* border: 1px solid #000000; */
       /* text-align: center; */
       margin: 20px auto;
}

.contact-link>div>a {
       /* border: 1px solid #000000; */
       display: flex;
       align-items: center;
       gap: 20px;
       color: #ffffff;
       /* padding: 0px 100px; */
}

.contact-link img {
       width: 30px;
       height: 30px;
       border-radius: 50px;
       /* border: 1px solid #000000; */
}

.contact-form {
       width: 50%;
       padding: 30px 0px;
       display: flex;
       flex-direction: column;
       font-size: 22px;
       color: #ffffff;
       margin: auto;
       /* border: 1px solid #000000; */
}

.contact-form>form {
       /* border: 2px solid #000000; */
       display: flex;
       flex-direction: column;
       gap: 20px;
}

.contact-form>form>input[type="text"],
.contact-form>form>input[type="email"] {
       height: 40px;
       width: 65%;
       border: 1px solid #667C89;
       padding: 5px 10px;
       border-radius: 5px;
       margin: auto;
       background-color: #ebf1f5;
}

.contact-form>form>input[type="text"]:focus,
.contact-form>form>input[type="email"]:focus {
       outline: none;
}

.contact-form>form>textarea {
       min-height: 100px;
       /* width: 65%; */
       max-width: 65%;
       min-width: 65%;
       border: 1px solid #667C89;
       padding: 5px 10px;
       border-radius: 5px;
       margin: auto;
       background-color: #ebf1f5;
}

.contact-form>form>textarea:focus {
       outline: none;
}

.contact-form>form>button {
       margin: auto;
       height: 40px;
       width: 40%;
       padding: 5px 10px;
       border-radius: 5px;
       border: 1px solid #ccc;
       background-color: #ebf1f5;
       color: #616161;
}

.contact-form>form>button:hover {
       background-color: #667C89;
       color: #ffffff;
}

.fa {
       margin-left: -12px;
       margin-right: 8px;
}

/* COPYRIGHT */
.copyright-section {
       text-align: center;
       background-color: #ebf1f5;
       background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23CDD3D6' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23CACFD2'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.copyright-section>p,
.copyright-section>p strong {
       color: #667C89;
}

.copyright-section>p>a {
       text-decoration: underline;
}

/* TOGGLE */
.appearance-toggle {
       position: fixed;
       bottom: 20px;
       right: 20px;
}

.appearance-toggle>img {
       width: 50px;
       padding: 20%;
       box-shadow: #667C89 0px 3px 8px;
       border-radius: 50%;
}

/* FIXED SOCIAL ICON */
.fixed-social-icon {
       /* border: 1px solid red; */
       /* height: 100vh; */
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-items: center;
       gap: 40px;
       position: fixed;
       top: 50%;
       margin: 0;
       -ms-transform: translateY(-50%);
       transform: translateY(-50%);
       left: 10px;
       color: #667C89;
}

.fixed-social-icon>a {
       color: #667C89;
}

.fixed-social-icon>:nth-child(1):hover {
       color: #000000;
}

.fixed-social-icon>:nth-child(2):hover {
       color: #0A66C2;
}

.fixed-social-icon>:nth-child(3):hover {
       color: #25D366;
}

.fixed-social-icon>:nth-child(4):hover {
       color: #1A73E8;
}

.fixed-social-icon>:nth-child(5):hover {
       color: #EA4335;
}