@media (max-width: 825px) {
    nav {
        padding: 0 20px;
    }

    nav>:nth-child(2) {
        display: none;
    }

    #ham-menu {
        display: block;
    }

    #ham-menu>span{
        color: #667C89;
    }

    .sidenav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* align-items: baseline; */
        height: 400px;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 79px;
        right: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-bottom: 20px;
        /* border: 1px solid blue; */
    }

    hr {
        height: 1px;
        width: 80%;
        margin: auto;
        color: rgb(216, 216, 216);
        background-color: rgb(216, 216, 216);
    }

    .sidenav a {
        /* border: 1px solid red; */
        width: 80%;
        /* padding: 8px 8px 8px 32px; */
        text-decoration: none;
        font-size: 20px;
        color: #667C89;
        display: flex;
        justify-content: left;
        /* align-items: center; */
        gap: 10px;

        transition: 0.3s;
        margin: auto;
        /* text-align: center; */

    }

    .sidenav a:hover {
        color: rgb(131, 131, 131);
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        /* right: 25px; */
        font-size: 36px;
        color: #667C89;
        /* margin-left: 50px; */
    }

    #home>div {
        /* border: 1px solid black; */
        flex-direction: column-reverse;
        /* gap: 0px; */
        /* height: 100vh; */
        /* justify-content: space-around; */
        /* justify-items: center; */
        /* align-items: center; */
        margin: auto;
        /* gap: 20px; */
        width: 90%;
        padding: 70px 0px;
    }

    .container {
        align-items: center;
        display: flex;
        height: 200px;
        justify-content: center;
    }

    .shape {
        background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
        /* animation: morph 25s ease-in-out infinite; */
        /* border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%; */
        height: 200px;
        /* transition: all 1s ease-in-out; */
        width: 200px;
        /* z-index: 2; */
        /* padding-top: 50%; */
    }

    #home>div>:nth-child(1) {
        /* border: 1px solid green; */
        width: 90%;
        margin: auto;
        text-align: center;
    }

    #user-detail-name {
        font-size: 25px;
        width: 150px;
        margin: auto;
        text-align: center;
        /* border: 1px solid green; */
    }

    /* #user-detail-intro {
        border: 1px solid blue;
        font-size: 18px;
    } */

    .contact-button>button,
    #resume-button-2 {
        margin: 30px 0px;
        border: 1px solid #667C89;
        color: #ffffff;
        background-color: #667C89;
        border-radius: 5px;
        height: 40px;
        width: 150px;
        font-size: 15px;
    }

    /* .contact-button>button:hover {
        background-color: #667C89;
        color: #ffffff;
        border: none;
    } */

    #home>div>:nth-child(2) {
        /* border: 1px solid blue; */
        width: 90%;
    }

    /* ABOUT */
    .about-section {
        /* width: 90%;
        margin: auto; */
        height: auto;
    }

    .about-section-intro {
        width: 90%;
        margin: auto;
    }

    .about-section-intro>:nth-child(1) {
        width: 100%;
        margin: auto;
        /* height: ; */
    }

    .about-section-intro-para {
        text-align: left;
        font-size: 15px;
        /* font-weight: 000;
        color: grey; */
    }

    .about-section-intro-para>strong {
        /* color: #667C89; */
        font-size: 18px;
    }

    .about-section-intro>div {
        /* display: flex; */
        flex-direction: column;
        /* justify-content: space-around;
        align-items: center; */
    }

    /* .about-section-intro>div>p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
        z-index: 2;
    } */

    .about-section-intro>div>p>img {
        width: 100%;
        /* background-color: #667C89;
        border-radius-t: 10px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px; */
    }

    /* .about-section-intro>div>p>img:hover {
        background-color: #ebf1f5;
        transition: 1s ease-in-out;
    }

    .about-section-intro>div>p>span {
        font-size: 20px;
    } */

    /* GITHUB STATS */
    /* .github {
        width: 90%;
        margin: auto;
    } */

    /* .github+hr {} */

    .github-stats {
        margin: auto;
        /* display: flex;
        justify-content: space-around;
        align-items: center; */
        flex-direction: column;
    }

    .github-stats>img {
        width: 100%;
        height: auto;
    }

    /* PROJECTS */
    /* .projects-section {
        height: 100vh;
        padding: 80px 0px;
        width: 90%;
        margin: auto;
    } */

    /* .box-container {
        margin: auto;
    } */


    /* SKILLS */
    /* .skills-section {
        min-height: 100vh;
        padding: 80px 0px;
    } */

    .skills-section>div {
        /* width: 90%;
        display: grid; */
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        /* margin: auto; */
    }

    .skills-card {
        width: 120px;
       height: 100px;
        /* margin: auto;
        text-align: center;
        border: 1px solid black; */
    }

    .skills-card>img {
        width: 50px;
        height: 50px;
    }

    .skills-card>p {
        text-align: center;
        font-weight: 000;
        color: grey;
        font-size: 18px;
    }

    /* TOOLS */
    /* .tools-section {
        height: 100vh;
        padding: 80px 0px;
    } */

    .tools-section>div {
        /* width: 90%;
        display: grid; */
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        /* margin: auto; */
        /* border: 1px solid rgb(255, 0, 0); */
    }

    .tools-card {
        width: 120px;
       height: 100px;
        /* margin: auto;
        text-align: center;
        border: 1px solid black; */
    }

    .tools-card>img {
        width: 50px;
        height: 50px;
    }

    .tools-card>p {
        text-align: center;
        font-weight: 000;
        color: grey;
        font-size: 18px;
    }

    /* PROJECT */
    .project-card {
        /* display: flex;
        justify-content: space-evenly; */
        flex-direction: column;
        align-items: center;
        /* border: 1px solid black; */
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        /* border-radius: 5px;
        margin: 20px auto; */
        padding: 20px 0px;
    }

    /* .project-card:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    } */

    .project-img {
        width: 90%;
        /* border: 1px solid red; */
        /* margin: auto; */
        /* text-align: center; */
    }



    .project-image {
        /* width: 500px; */
        /* width: 100%; */
        /* height: 200px; */
        /* border: 1px solid red; */
        /* margin: auto; */
        border-radius: 5px;
    }

    .project-desc {
        /* border: 1px solid green; */
        width: 90%;
    }

    .project-features {
        /* border: 1px solid black;
        display: flex; */
        flex-direction: column;
        gap: 0px;
        margin: 0%;
        padding: 0%;
 }

    /* .project-title {
        color: #667C89;
        text-transform: uppercase;
    } */

    /* .project-desc p {
        color: gray;
    } */

    /* .project-desc strong {
        color: #667C89;
    } */

    .project-button {
        /* margin: 10px 0px;
        border: 1px solid #667C89;
        color: #667C89;
        background-color: transparent;
        border-radius: 5px;
        height: 40px;
        width: 150px;
        font-size: 15px; */
        margin: auto;
        text-align: center;
    }

    .project-button>:nth-child(1)>button {
        margin: 10px 0px;
        border-radius: 5px;
        height: 40px;
        width: 120px;
        font-size: 15px;
        background-color: #668972;
        color: #ffffff;
        border: none;
    }

    .project-button>:nth-child(2)>button {
        margin: 10px 0px;
        border-radius: 5px;
        height: 40px;
        width: 120px;
        font-size: 15px;
        background-color: #897a66;
        color: #ffffff;
        border: none;
    }

    /* CONTACT */
    .contact-section {
        /* min-height: 100vh; */
        padding: 80px 0px;
        background-color: #ebf1f5;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23CDD3D6' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23CACFD2'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    }

    .contact-section>div {
        height: 50%;
        width: 90%;
        display: flex;
        margin: auto;
        align-items: center;
        flex-direction: column;
        /* justify-content: center; */
        gap: 20px;
        /* border: 2px solid #667C89; */
        border-radius: 5px;
        background-color: #667C89;

    }

    .contact-section>div>hr {
        height: 00px;
    }

    .contact-link {
        height: 100%;
        width: 100%;
        padding: 20px 0px 0px;
        /* border: 1px solid #000000; */
    }

    .contact-link>div {
        width: 90%;
        /* border: 2px solid #000000; */
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        /* border-right: 5px solid #667C89; */
        /* padding-top: 30px;
       padding-bottom: 20px; */
        justify-content: space-around;
        gap: 30px;
        /* height: 50px; */
        /* border-radius: 10px; */
        /* border: 1px solid #000000; */
        margin: auto;
    }

    .contact-link>div>a>span{
        border: 1px solid red;
        display: none;
    }

    .contact-link>div>a {
        width: 32px;
        /* border: 1px solid #ff0000; */
        display: flex;
        align-items: center;
        gap: 20px;
        color: #ffffff;
        /* padding: 0px 100px; */
    }

    .contact-link>p {
        width: 50%;
        font-size: 22px;
        color: #ffffff;
        /* padding: 0px 100px; */
        /* border: 1px solid #000000; */
        /* text-align: center; */
        margin: 20px auto;
    }

    .contact-link img {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        /* border: 1px solid #000000; */
    }

    .contact-form {
        width: 100%;
        padding: 0px 0px 30px;
        display: flex;
        flex-direction: column;
        font-size: 22px;
        color: #ffffff;
        margin: auto;
        /* border: 1px solid #000000; */
    }

    .contact-form>form {
        /* border: 2px solid #000000; */
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .contact-form>form>input[type="text"],
    .contact-form>form>input[type="email"] {
        height: 40px;
        width: 90%;
        border: 1px solid #667C89;
        padding: 5px 10px;
        border-radius: 5px;
        margin: auto;
        background-color: #ebf1f5;
    }

    .contact-form>form>input[type="text"]:focus,
    .contact-form>form>input[type="email"]:focus {
        outline: none;
    }

    .contact-form>form>textarea {
        min-height: 100px;
        /* width: 65%; */
        max-width: 90%;
        min-width: 90%;
        border: 1px solid #667C89;
        padding: 5px 10px;
        border-radius: 5px;
        margin: auto;
        background-color: #ebf1f5;
    }

    .contact-form>form>textarea:focus {
        outline: none;
    }

    .contact-form>form>button {
        margin: auto;
        height: 40px;
        width: 40%;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: #ebf1f5;
        color: #616161;
    }

    .contact-form>form>button:hover {
        background-color: #667C89;
        color: #ffffff;
    }

    .copyright-section>p {
        font-size: 13px;
    }

    #appearance-toggle {
        position: fixed;
        bottom: 15px;
        right: 15px;
    }

    #appearance-toggle>img {
        width: 35px;
        padding: 20%;
        box-shadow: #667C89 0px 3px 8px;
        border-radius: 50%;
    }
}

@media (max-width: 350px) {
    nav>:nth-child(1)>a>span {
        font-size: 22px;
    }
}