@media (max-width: 825px) {
    nav {
        padding: 0 20px;
    }

    nav>:nth-child(2) {
        display: none;
    }

    #ham-menu {
        display: block;
    }

    .sidenav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* align-items: baseline; */
        height: 400px;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 79px;
        right: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-bottom: 20px;
        /* border: 1px solid blue; */
    }

    hr {
        height: 1px;
        width: 80%;
        margin: auto;
        color: rgb(216, 216, 216);
        background-color: rgb(216, 216, 216);
    }

    .sidenav a {
        /* border: 1px solid red; */
        width: 80%;
        /* padding: 8px 8px 8px 32px; */
        text-decoration: none;
        font-size: 20px;
        color: #000;
        display: flex;
        justify-content: left;
        /* align-items: center; */
        gap: 10px;

        transition: 0.3s;
        margin: auto;
        /* text-align: center; */

    }

    .sidenav a:hover {
        color: rgb(131, 131, 131);
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        /* right: 25px; */
        font-size: 36px;

        /* margin-left: 50px; */
    }

    #home>div {
        /* border: 1px solid black; */
        flex-direction: column-reverse;
        /* gap: 0px; */
        /* height: 100vh; */
        /* justify-content: space-around; */
        /* justify-items: center; */
        /* align-items: center; */
        margin: auto;
        /* gap: 20px; */
        width: 90%;
        padding: 70px 0px;
    }

    .container {
        align-items: center;
        display: flex;
        height: 200px;
        justify-content: center;
    }

    .shape {
        background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
        animation: morph 12s ease-in-out infinite;
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
        height: 200px;
        transition: all 1s ease-in-out;
        width: 200px;
        z-index: 2;
        /* padding-top: 50%; */
    }

    #home>div>:nth-child(1) {
        /* border: 1px solid green; */
        width: 90%;
        margin: auto;
        text-align: center;
    }

    #user-detail-name {
        font-size: 25px;
        width: 150px;
        margin: auto;
        text-align: center;
        /* border: 1px solid green; */
    }

    #user-detail-intro {
        /* border: 1px solid blue; */
        font-size: 18px;
    }

    #home>div>:nth-child(2) {
        /* border: 1px solid blue; */
        width: 90%;
    }

    /* ABOUT */
    .about-section {
        /* width: 90%;
        margin: auto; */
        height: auto;
    }

    .about-section-intro {
        width: 90%;
        margin: auto;
    }

    .about-section-intro>:nth-child(1) {
        width: 100%;
        margin: auto;
        /* height: ; */
    }

    .about-section-intro-para {
        text-align: left;
        font-size: 15px;
        /* font-weight: 000;
        color: grey; */
    }

    .about-section-intro-para>strong {
        /* color: #667C89; */
        font-size: 18px;
    }

    .about-section-intro>div {
        /* display: flex; */
        flex-direction: column;
        /* justify-content: space-around;
        align-items: center; */
    }

    /* .about-section-intro>div>p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
        z-index: 2;
    } */

    .about-section-intro>div>p>img {
        width: 100%;
        /* background-color: #667C89;
        border-radius-t: 10px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px; */
    }

    /* .about-section-intro>div>p>img:hover {
        background-color: #ebf1f5;
        transition: 1s ease-in-out;
    }

    .about-section-intro>div>p>span {
        font-size: 20px;
    } */

    /* GITHUB STATS */
    /* .github {
        width: 90%;
        margin: auto;
    } */

    /* .github+hr {} */

    .github-stats {
        margin: auto;
        /* display: flex;
        justify-content: space-around;
        align-items: center; */
        flex-direction: column;
    }

    .github-stats>img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 350px) {
    nav>:nth-child(1)>a>span {
        font-size: 22px;
    }
}